div.nav-bar {
    max-width: 1920px;
    box-sizing: border-box;
}

.primary-color {
    color: #6750E0;
}

.white-brand-logo {
    color: white;
    font-weight: 600;
    font-size: 36px;
}

input.search-input {
    border: solid black;
    border-width: 1px 0 1px 1px;
    border-radius: 16px 0 0 16px;
    border-right: none;
    width: 100%;
}

div.search-bar {
    width: 30%;
}


button.search-button {
    border: solid black;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 16px 16px 0px;
}
